<h1><a href='./new'>創建證書</a></h1>
<div class='large-4 medium-4 cell'>
  <form action='/certs' method='post'>
    <div class='floated-label-wrapper'>
      <label>證書標題</label>
      <input type="text" name="certTitle" value="certTitle1"/>
      </div>
        <div class='floated-label-wrapper'>
          <label>發行日期</label>
          <input type="text" name="issueDate" value="issueDate1"/>
          </div>
          <div class='floated-label-wrapper'>
            <label>證書期限</label>
            <input type="text" name="certExpiredDate" value="certExpiredDate1"/>
          </div>
          <div class='floated-label-wrapper'>
            <label>證書資訊</label>
            <input type="text" name="info" value="info1"/>
          </div>
          <div class='floated-label-wrapper'>
            <label>證書圖檔</label>
            <input id='thumbnail' type="hidden" name="thumbnail" />
            <input id="fileinput" type="file" accept="image/gif, image/jpeg, image/png" onchange="readURL(this);" />
            (max: 100KB)
            <img id='preview' src='' class='colorbox' />
          </div>
          <div class='floated-label-wrapper'>
              <label>受與者</label>
              <select data-placeholder="Choose a Receiver..." class="chosen-select" tabindex="1" name='receiver'>
                <option value=""></option>
                <% _.each(receivers, function(item) { %>
                  <option value="<%= item.receiverId %>"><%= item.lastName%><%= item.firstName %></option>
                <% }) %>
              </select>
          </div>
          <div class='floated-label-wrapper'>
            <label>發行單位</label>
            <select data-placeholder="Choose a Issuer..." class="chosen-select" tabindex="2" name='issuer'>
              <option value=""></option>
              <% _.each(issuers, function(item) { %>
                <option value="<%= item.issuerId%>"><%= item.issuerName%></option>
              <% }) %>
            </select>
          </div>
          <input type='submit' class='button' value="創建證書"/>
          </form>
        </div>
        <%= message %>

<script>
  $(document).ready(function(){
    $(".chosen-select").chosen()
  })
  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function (e) {
        var result = e.target.result
        $('#preview').attr('src', result);
        $('#falseinput').attr('src', result);
        $('#thumbnail').attr('value', result);
        $('.colorbox').fancybox();
      };
    reader.readAsDataURL(input.files[0]);
    }
  }
</script>
