<h1><a href='/certs'>所有證書資料</a></h1>
<table class='striped'>
  <thead>
    <tr>
      <th>證書序號</th>
      <th>發行單位</th>
      <th>發行日期</th>
      <th>證書期限</th>
      <th>證書標題</th>
      <th>受與者姓名</th>
      <th>證書資訊</th>
      <th>證書圖檔</th>
      <th>證書狀態</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% _.each(collection, function(item) { %>
      <tr>
        <td><%= item.certificationId %></td>
        <td><%= item.issuerName %></td>
        <td><%= item.issueDate %></td>
        <td><%= item.certExpiredDate %></td>
        <td><%= item.certTitle %></td>
        <td><%= item.receiverLastName %><%= item.receiverFirstName %></td>
        <td><%= item.info %></td>
        <td>
          <% if (item.thumbnail.indexOf('application/pdf') > 0) { %>
            <a class="btn btn-info btn-sm btn-hover pdf" data-fancybox-type="iframe" href="<%= item.thumbnail %>">PDF</a>
          <% } else { %>
          <img class='colorbox thumb image' src='<%= item.thumbnail %>'/>
          <% } %>
        </td>
        <td><%= item.certStatus %>有效</td>
        <th><a href='/certifications/<%=item.certificationId%>' class='destroy'>刪除</a></th>
      </tr>
    <% }) %>
  </tbody>
</table>

<script>
  $(document).ready(function() {
    $('.destroy').click(function() {
      var url = $(this).attr('href')
      $.ajax({
        url: url,
        method: 'DELETE',
        success: function(data) {
          window.location.reload()
        },
        failuer: function() {
          console.log(data)
        }
      })
      return false
    })
  })
</script>
